a { 
    color: inherit;
    text-decoration: underline; 
}

body {
    background-image: url("../images/houndstooth-pattern.png");
    font-family: 'Abel', sans-serif;
    font-size: 19px;
}

h1 {
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
}

h3 {
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    line-height: .5;
}

h5 {
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    line-height: .5;
    font-weight: bold;
}

.bio-pic {
    border: 1px gray solid;
    width: 100%;
}

.contact {
    line-height:.3;
    font-size: 17px;
}

.education {
    line-height: 1;
}

.resume {
    text-decoration: none; 
}

.white-box {
    width: 960px;
    background-color: white;
}

@media screen and (max-width: 992px) {
    #header {
        margin-left: 0px!important;
    }

    #hr-mobile {
        margin-left: 0px!important;
        margin-right: 0px!important;    
    }

@media screen and (max-width: 576px) {
    .bio-mobile {
        padding: 0px;
        margin-top: 20px!important;
    }
    
    .bio-pic {
        width: 100px;
        margin-top: 0px;
    }

    .white-box {
        width: auto;
        margin: 5%;
    }

    #bio-short {
        margin-top: 15px!important;
    }   
    
    #education {
        font-size: 16px;
    }

    #projects {
        margin-left: 0px!important;
        margin-right: 10px
    }     
}



